<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script> 
</head>
<body>
    <h2>CHAT DA MOCAB</h2>
    <input type="text" class="message"></input>
    <button onclick="sendMessage()">Enviar mensagem</button>
    
    <div id="messages"></div> 
    
    <script>
        const socket = io('http://localhost:5501')

        socket.on('allMessages', (messages) => {
            const messagesDiv = document.querySelector("#messages");
            messagesDiv.innerHTML = "";
            for (const message of messages) {
                messagesDiv.innerHTML += `<p>${message.user}: ${message.message}</p>`;
            }
        });

        const sendMessage = () => {
            const messageInput = document.querySelector('.message')
            const message = messageInput.value;
            console.log(message)
            socket.emit('message', message)
            messageInput.value = "";
        }
    </script>
</body>
</html>
